<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Login</h1>
<form action="/login" method="POST">
    ID : <input type="email" name="username" placeholder="toto@naver.com"><br>
    password : <input type="password" name="password" placeholder="비밀번호를 입력해주세요."><br>
    <button>로그인</button>
</form>
<a href="/signup">Registration</a>
</body>
</html>