<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!--css 연결-->
  <link rel="stylesheet" href="/css/navbar.css">
  <title>ITe Term</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">ITe</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/main">홈</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">IT용어</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Error</a>
          </li>
        </ul>
        <a class="nav-link text-white" href="/login">로그인</a>
        <a class="nav-link text-white" href="/signup">회원가입</a>
      </div>
    </div>
  </nav>

  <!--main-->
  <form class="container" action="">
    <div class="wrap main_title">
      <div class="jumbotron">
        <h1 class="display-4">IT 용어을..</h1>
        <p class="lead"> IT 용어를 알고...<br>퀴즈를 통해 학습하도록 해요...</p>
        <hr class="my-4">
        <p>주목해야할 IT 키워드 알고가기!</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Start</a>
        </p>
      </div>

      

      <div class="card-columns">
        <a href="#">
          <div class="card">
            <img class="card-img-top" src="/image/main_img.gif" alt="Card image cap">
            <div class="card-body">
              <a href="#" target="_blank" class="card-title">Web</a>
              <p class="card-text">Web에 꼭 필요한 용어 알아두기!</p>
              <p class="card-text comment">...</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="card">
            <img class="card-img-top" src="/image/main_img.gif" alt="Card image cap">
            <div class="card-body">
              <a href="#" target="_blank" class="card-title">Web</a>
              <p class="card-text">Web에 꼭 필요한 용어 알아두기!</p>
              <p class="card-text comment">...</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="card">
            <img class="card-img-top" src="/image/main_img.gif" alt="Card image cap">
            <div class="card-body">
              <a href="#" target="_blank" class="card-title">Web</a>
              <p class="card-text">Web에 꼭 필요한 용어 알아두기!</p>
              <p class="card-text comment">...</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="card">
            <img class="card-img-top" src="/image/main_img.gif" alt="Card image cap">
            <div class="card-body">
              <a href="#" target="_blank" class="card-title">Web</a>
              <p class="card-text">Web에 꼭 필요한 용어 알아두기!</p>
              <p class="card-text comment">...</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="card">
            <img class="card-img-top" src="/image/main_img.gif" alt="Card image cap">
            <div class="card-body">
              <a href="#" target="_blank" class="card-title">Web</a>
              <p class="card-text">Web에 꼭 필요한 용어 알아두기!</p>
              <p class="card-text comment">...</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="card">
            <img class="card-img-top" src="/image/main_img.gif" alt="Card image cap">
            <div class="card-body">
              <a href="#" target="_blank" class="card-title">Web</a>
              <p class="card-text">Web에 꼭 필요한 용어 알아두기!</p>
              <p class="card-text comment">...</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

  </form>

</body>

</html>