@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Single+Day&display=swap');

.bg-body-tertiary{
  background: linear-gradient(rgb(255, 255, 255), rgb(253, 253, 253));
}

.navbar-brand{
  color: black;
  font-size: 30px;
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Single Day', cursive;
}

.navbar-brand:hover{
  text-decoration:underline;
}

.nav-link{
  color: black;
  font-size: 20px;
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Single Day', cursive;
}

.nav-link:hover{
  text-decoration:underline;
  color: black;
}