@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Single+Day&display=swap');

body{
  margin: 0px;
  padding: 0px;
  padding-top: 80px;
  box-sizing: border-box;
}

.bg-color{
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Single Day', cursive;
  background: linear-gradient(rgb(27, 0, 49), rgb(99, 99, 215), rgb(253, 193, 203));
  width: 100%;
}


.page_txt05{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_gap{
  padding-right: 30px;
}

/*버튼*/
.main-btn{
  background: none;
  color: blue;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

.main-btn:hover{
  background: linear-gradient(rgb(27, 0, 49), rgb(99, 99, 215), rgb(253, 193, 203));
}